In [1]:
# Data uzerinde islemek ucun pandas ve numpy kitabaxanalari import edilir

import pandas as pd

C:\Users\qubadlim\AppData\Local\Temp\ipykernel_13612\13692597.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# Dataseti oxumaq ucun pandas'dan read_csv('') metodu isledilir, bu bize pandas dataframei qaytarir, daha sonra oxunan data df deyisenine menimsedilir.
# read_csv() icerisinde istifade olunan index_col=0 ifadesi setriler uzre indexlemenin 0-ci sutuna uygun olaraq aparilacagini bildirir.

df = pd.read_csv(r'C:\Users\qubadlim\Desktop\Python\DataSets\winemag-data-130k-v2.csv', index_col=0)

In [15]:
# Dataset haqqinda umumi melumat elde etmek istiyirikse df.head() metodundan istifade edirik.
# Bu metod bize dataset icerisinden ilk 5 setiri qaytarir, neticede biz datanin icerisinde hansi melumatlarin oldugu ile bagli fikir sahibi ola bilerik 
# Meselen hansi sutunlarin oldugu ve bu sutunlarda yerlesen verilenlerin hansi tipde oldugu ve.s 

df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [16]:
# head(3) burada metodun icine gonderdiyiniz deyer ekrana cixarilacaq sutun sayini teyin edir. Bu numunede ilk 3 setir qaytarilacaq

df.head(3)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

In [17]:
# head() metodunun eksine tail() metodu adindanda gorunduyu kimi datasetin sonundan setirler qaytarir. Bu numunede sondan ilk 3 sutun qaytarilacaq.
# Eger metoda hec bir parametr gondermesek default olaraq son 5 sutunu qaytaracaq

df.tail(3)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [18]:
# 'shape' metodu bize datanin nece setirden ve nece sutundan ibaret oldugunu gosterir. Burada ilk deyer setir sayini ikinci deyer ise sutun sayini ekse etdirir.

df.shape

(129971, 13)

In [19]:
# info() metodu data icerisindeki sutunlari ve her sutundaki null olmayan deyerleri hemcinin sutunlardaki verilenlerin tipini eks eletdirir.

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 13.9+ MB

In [20]:
# head() metoduna benzer olan bu metod data icerisinden random setirler cixarmaq ucun istifade olunur. icine gonderdiyimiz parametr sayda setir qaytarir.
# Bu numunede 10 eded setir qaytaracaq

df.sample(10)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
40446,US,"Soft and tannic, with jammy flavors of blackbe...",NaN,85,55.0,California,Napa Valley,Napa,NaN,NaN,Valley Legend 2008 Cabernet Sauvignon (Napa Va...,Cabernet Sauvignon,Valley Legend
37119,US,"A blend of Cabernet Sauvignon, Cabernet Franc,...",Stevens424,91,36.0,Washington,Yakima Valley,Columbia Valley,Sean P. Sullivan,@wawinereport,Stevens 2012 Stevens424 Red (Yakima Valley),Bordeaux-style Red Blend,Stevens
53760,France,This The wine from a monopole vineyard shows t...,Clos les Grands Voyens Premier Cru,90,50.0,Burgundy,Mercurey,NaN,Roger Voss,@vossroger,Domaine Jeannin-Naltet 2014 Clos les Grands Vo...,Pinot Noir,Domaine Jeannin-Naltet
33964,France,"This is very textured, with lemon zest and gra...",NaN,88,NaN,Burgundy,Chablis,NaN,Roger Voss,@vossroger,Fourrey et Fils 2011 Chablis,Chardonnay,Fourrey et Fils
8791,Spain,"Concentrated, compact aromas of black fruits a...",Reserva,89,42.0,Northern Spain,Ribera del Duero,NaN,Michael Schachner,@wineschach,Linaje Garsea 2009 Reserva (Ribera del Duero),Tempranillo,Linaje Garsea
62413,Italy,"This wine is based on Sangiovese, with a tiny ...",Lucius Riserva,88,40.0,Tuscany,Chianti Classico,NaN,NaN,NaN,Viticcio 2008 Lucius Riserva (Chianti Classico),Sangiovese,Viticcio
26347,France,This structured wine is firm with tannins whil...,NaN,86,NaN,Bordeaux,Médoc,NaN,Roger Voss,@vossroger,Château de Tourteyron 2013 Médoc,Bordeaux-style Red Blend,Château de Tourteyron
112615,Italy,Tramin's light and silky Pinot Bianco opens wi...,NaN,86,14.0,Northeastern Italy,Alto Adige,NaN,NaN,NaN,Tramin 2010 Pinot Bianco (Alto Adige),Pinot Bianco,Tramin
44471,US,Coming from one of the state's premier Syrah v...,Red Willow Vineyard,89,40.0,Washington,Columbia Valley (WA),Columbia Valley,Sean P. Sullivan,@wawinereport,Andrew Rich 2014 Red Willow Vineyard Syrah (Co...,Syrah,Andrew Rich
103412,US,"This is delicious, concentrated and showing a ...",Old Vine,90,30.0,Washington,Yakima Valley,Columbia Valley,Paul Gregutt,@paulgwine,Dusted Valley 2007 Old Vine Chardonnay (Yakima...,Chardonnay,Dusted Valley

In [22]:
# 'columuns' metodu data icerisindeki sutunlarin adlarini qaytarir

print(f'The columns of the dataset are: {df.columns}')

The columns of the dataset are: Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

In [24]:
"""
decsribe() metodu datasetdeki int deyerlere sahib sutunlar haqqinda umumi melumat elde etmek ucun istifade olunur.
Burada 'count' setirinde sutundaki null olmayan deyerlerin sayi eks olunur.
'mean' setri sutundaki deyerlerin ortalama qiymetini eks etdirir. 
'std' setrinde sutunun ortalamadan yayinma deyeri eks olunur. 
'std' deyeri kicik olduqda sutundaki deyerlerin bir birine yaxin oldugunu, boyuk olduqda ise sutundaki deyerlerin bir birinden ferqli oldugunu anlaya bilerik
'min' setri her sutundaki minumum deyeri eks etdirir.
25 50 75 faizlerin oldugu setirler sutundaki deyerlerin bu faiz nisbetlerinde bolunmesini eks etdirir.
"""

df.describe()

              points          price
count  129971.000000  120975.000000
mean       88.447138      35.363389
std         3.039730      41.022218
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000

In [29]:
# drop() metodu ile dataset icerisinden bize lazim olmayacaq sutunlari ve ya setireri sile bilerik.
# Sutunlari silmek ucun columns=[] adinda bir list yaziriq ve bu listin icerisine silmek istediyimiz sutunlarin adlarini qeyd edirik
# setirleri silmek ucun ise sadece olaraq silmek istediyimiz setrin index nomresini qeyd edirik
# Asagidaki numunede 'region_2' ve 'taster_twitter_handle' sutunlarini sileceyik
# Lakin bir seyi yadda saxlamaq lazimdirki drop() metodu orjinal dataframe uzerinde deyisiklik etmir. Uzerinde deyisiklik edilmis yeni bir dataframe qaytarir.
# Eger biz orjinal dataframe uzerinde deyisiklik etmek isteyirikse bu zaman drop() metodu icerisinde 'inplace=True' ifadesini isletmeliyik. Mes: drop(columns='region_2', inplace=True)
 
df.drop(columns=['region_2', 'taster_twitter_handle'])

,country,description,designation,points,price,province,region_1,taster_name,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,Kerin O’Keefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,Roger Voss,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Paul Gregutt,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,Alexander Peartree,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Paul Gregutt,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,Anna Lee C. Iijima,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Paul Gregutt,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,Roger Voss,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,Roger Voss,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,Roger Voss,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [42]:
# query() metdou ile dataframe uzerinde filerleme emliyyatlari ve ya istediyiniz sertlere uygun sutunlari ala bilersiniz. 
# Asagidaki numunede 'price > points' serti bize pricein deyerinin pointsin deyerinden boyuk oldugu setirleri qaytarir
# Daha qarmasiq sertler yazamaq ucunde and ve ya or kimi metniq ifadelerinde istifade ed bilersiniz. Mes: df.query("price > points and country = 'US'")

df.query('price > points')

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
60,US,"Syrupy and dense, this wine is jammy in plum a...",Estate,86,100.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Okapi 2013 Estate Cabernet Sauvignon (Napa Val...,Cabernet Sauvignon,Okapi
139,France,"Beautiful deep gold color. Intense, concentrat...",Cuvée Jerémy Sélection de Grains Nobles,90,112.0,Alsace,Alsace,NaN,NaN,NaN,Kuentz-Bas 2007 Cuvée Jerémy Sélection de Grai...,Pinot Gris,Kuentz-Bas
168,US,"A fairly elegant expression of the variety, th...",Rector Creek Vineyard,91,95.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Duckhorn 2012 Rector Creek Vineyard Merlot (Na...,Merlot,Duckhorn
284,Argentina,This huge Malbec defines jammy and concentrate...,Marchiori Vineyard Block C2,92,215.0,Mendoza Province,Perdriel,NaN,Michael Schachner,@wineschach,Viña Cobos 2011 Marchiori Vineyard Block C2 Ma...,Malbec,Viña Cobos
289,US,This 100% Cabernet Sauvignon is so rich and de...,Fortune Teller,92,125.0,California,Napa Valley,Napa,NaN,NaN,Parallel 2010 Fortune Teller Cabernet Sauvigno...,Cabernet Sauvignon,Parallel
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129811,France,"A tight, tannic wine, showing considerable aci...",Les Borniques,89,100.0,Burgundy,Chambolle-Musigny,NaN,Roger Voss,@vossroger,Roux Père et Fils 2008 Les Borniques (Chambol...,Pinot Noir,Roux Père et Fils
129818,France,"Concentrated, with dark tannins to go with the...",Les Damodes,89,115.0,Burgundy,Nuits-St.-Georges,NaN,Roger Voss,@vossroger,Louis Latour 2009 Les Damodes (Nuits-St.-Geor...,Pinot Noir,Louis Latour
129891,US,"Chocolate, mocha and coconut notes highlight t...",Estate Block 3,91,100.0,California,Calistoga,Napa,Virginie Boone,@vboone,Jax 2013 Estate Block 3 Cabernet Sauvignon (Ca...,Cabernet Sauvignon,Jax
129919,US,"This ripe, rich, almost decadently thick wine ...",Reserve,91,105.0,Washington,Walla Walla Valley (WA),Columbia Valley,Paul Gregutt,@paulgwine,Nicholas Cole Cellars 2004 Reserve Red (Walla ...,Red Blend,Nicholas Cole Cellars
129931,France,"A powerful, chunky wine, packed with solid tan...",NaN,91,107.0,Burgundy,Grands-Echezeaux,NaN,Roger Voss,@vossroger,Henri de Villamont 2005 Grands-Echezeaux,Pinot Noir,Henri de Villamont

In [47]:
# loc[] metodu dataframe icerisinden istediyimiz setiri ve sutunlari secemek imkani verir. loc[] metodunda istediyimiz sutunun adini vermek kifayetdir. 

df.loc[0:7, 'country']

0       Italy
1    Portugal
2          US
3          US
4          US
5       Spain
6       Italy
7      France
Name: country, dtype: object

In [49]:
# iloc[] metodu da loc ile eyni isi gorur. Ferq ondan ibaretdir ki iloc metodunda secmek istediyimiz sutunun index nomresini vermeliyik. loc metodunda sutunun adini vermek kifayet edirdi.

df.iloc[0:7, 0:4]

,country,description,designation,points
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87

In [13]:
# Eger her hansi bir sutundaki qiymetlerin ortalamasini tapmaq isteyirsinize
# bunun ucun mean() metodundan istifade ede bilersiniz.
# Qeyd edek ki, bu metod int deyere sahib sutunlar ucun kecerlidir

points_avarage = df.points.mean()

print(f'Points sutunun oratalama qiymeti: {points_avarage}')

Points sutunun oratalama qiymeti: 88.44713820775404

In [11]:
# Yucaridakindan elave pandas 
# dataframe ve ya seriyalar uzerinde diger statistik emeliyyatlar aparmaq ucun asagidaki metodlara malikdir:
# median(), sum(), min(), max()

points_median = df.points.median()
points_max = df.points.max()
points_min = df.points.min()
points_sum = df.points.sum()

print(f'Median: {points_median} \n Max value: {points_max} \n Min value: {points_min} \n Sum of column: {points_sum}')

Median: 88.0
 Max value: 100
 Min value: 80
 Sum of column: 11495563

In [16]:
# unique() Bir sutundaki butun unikal deyerleri almaq ucun istifade olunan metoddur.
# Bu metod array qaytarir. Hem str hemde int tipinden olan sutunlara tetbiq edile biler

df.taster_name.unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

In [17]:
# Butun unikal deyerleri gormek ve onlarin dataset icerisinde nece defe tekrarlandigini tapmaq ucun 
# value_counts() metodundan istifade edirik

df.taster_name.value_counts()

taster_name
Roger Voss            25514
Michael Schachner     15134
Kerin O’Keefe         10776
Virginie Boone         9537
Paul Gregutt           9532
Matt Kettmann          6332
Joe Czerwinski         5147
Sean P. Sullivan       4966
Anna Lee C. Iijima     4415
Jim Gordon             4177
Anne Krebiehl MW       3685
Lauren Buzzeo          1835
Susan Kostrzewa        1085
Mike DeSimone           514
Jeff Jenssen            491
Alexander Peartree      415
Carrie Dykes            139
Fiona Adams              27
Christina Pickard         6
Name: count, dtype: int64

In [4]:
# map() metodu bir series ve ya sutundaki her elemente muyyen bir emeliyyati tetbiq etmek ucun istifade olunur.
# Onun temel istifade qaydasi bu sekildedir: new_elements = old_elements.map(function)
# Burada 'old_elements' deyisdirilecek olan orjinal elementleri temsil edir.
# 'function' ise her bir elemente tetbiq olunucaq deyisdirme emeliyyatini temsil edir.
# Tutaq ki, biz her bir serabin aldigi qiymeti 0-a endirmek isteyirik bunu asagidaki sekilde ede bilerik.
# map() icerisinde istifade etdiyimiz funksiya bir argument almalidir ve hemin argumentin deyisdirilmis versiyasini qaytarmalidir
# map() butun elementlerin deyisdirildiyi yeni bir seriya qaytarir.

points_mean = df.points.mean()
df.points.map(lambda x: x - points_mean)

0        -1.447138
1        -1.447138
2        -1.447138
3        -1.447138
4        -1.447138
            ...
129966    1.552862
129967    1.552862
129968    1.552862
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

In [6]:
# Eger biz butun DataFrame i deysidirmek istiyirikse bunun ucun apply() metodundan istifade etmek daha meqsede uygun olar.
# yuxarida etdiyimiz emeliyyati butun DataFrame apply() metodu ile asagidaki kimi tetbiq ede bilerik

def remean_points(row):
    row.points = row.points - points_mean
    return row

df.apply(remean_points, axis='columns')

# Eger burada axis='index' yazsaydiq bu zaman funksiyaya setir gondermek evezine sutun gondermeli idik.

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,-1.447138,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,-1.447138,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,-1.447138,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,-1.447138,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,-1.447138,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,1.552862,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,1.552862,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,1.552862,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,1.552862,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,1.552862,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [7]:
# Note: map() ve apply() metodlari seriyalari ve DataFrame leri uygun olarak deyisdirir.
# Onlar orjinal datani deyisdirmirler. 
# Meselen eger biz yeniden df DataFrameinin ilk setrine baxsaq points sahesinin deyismediyini gorerik 

df.head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

In [8]:
# Series ler userinde map() emeliyyatlarini daha suretli sekilde asagidaki kimide yaza bilerik.
# Asagidaki kodda biz sol terefde butun seriyani ve ya sutunu sag terefde ise tek bir deyeri daxil edirik.
# Pandas bu ifadeye baxir ve anlayir ki, seriyadaki butun deyerlerden ortalama deyeri cixmaq lazimdir.

df.points - points_mean

0        -1.447138
1        -1.447138
2        -1.447138
3        -1.447138
4        -1.447138
            ...
129966    1.552862
129967    1.552862
129968    1.552862
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

In [9]:
# Bundan elave Pandas eyni uzunluqdaki iki seriya arasinda yazdigmiz ifadeleride basa dusur.
# Meselen asagida olke ver regionlari kombinasiya etmeyin sade yolu gosterilmisdir.

df.country + " - " + df.region_1

0                     Italy - Etna
1                              NaN
2           US - Willamette Valley
3         US - Lake Michigan Shore
4           US - Willamette Valley
                    ...
129966                         NaN
129967                 US - Oregon
129968             France - Alsace
129969             France - Alsace
129970             France - Alsace
Length: 129971, dtype: object

In [ ]:
# Bu usullar map() ve apply() metodlarindan daha suretli isleyir. 
# Cunki onlar Pandasdaki suret artiricilardan istifade edirler.
# Bununla bele onlar map() ve ya apply() kimi funksional deyiller.
# Cunki map() ve apply() metodlari daha tekmillesmis emeliyatlari heyata kecire bilirler.
# Meselen serti ve ya mentiqi emeliyyatlar. Hansilar ki, sadece cixma ve toplama ile edile bilmez.

In [26]:
# valu_counts() asagidaki kimide evez edile biler

df.groupby('points').points.count()

points
80       397
81       692
82      1836
83      3025
84      6480
85      9530
86     12600
87     16933
88     17207
89     12226
90     15410
91     11359
92      9613
93      6489
94      3758
95      1535
96       523
97       229
98        77
99        33
100       19
Name: points, dtype: int64

In [29]:
# groupby() metodu DataFrame uzerinde mueyyen bir sutuna gore gruplasdirmani heyata kecirien onemli bir metoddur.
# Asagidaki orenekde points sutununua gore gruplasdirilib ve qarsisinda price sutunun uygun minumum deyerleri qeyd olunmusdur

df.groupby('points').price.min()

points
80      5.0
81      5.0
82      4.0
83      4.0
84      4.0
85      4.0
86      4.0
87      5.0
88      6.0
89      7.0
90      8.0
91      7.0
92     11.0
93     12.0
94     13.0
95     20.0
96     20.0
97     35.0
98     50.0
99     44.0
100    80.0
Name: price, dtype: float64

In [38]:
df.groupby(['country', 'province']).apply(lambda data: data.loc[data.points.idxmax()])

C:\Users\qubadlim\AppData\Local\Temp\ipykernel_3592\3772414497.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby(['country', 'province']).apply(lambda data: data.loc[data.points.idxmax()])

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
Armenia   Armenia             Armenia
Australia Australia Other   Australia
          New South Wales   Australia
...                               ...
Uruguay   Juanico             Uruguay
          Montevideo          Uruguay
          Progreso            Uruguay
          San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
Armenia   Armenia           Deep salmon in color, this wine offers a bouqu...
Australia Australia Other   Writes the book on how to make a wine filled w...
          New South Wales   De Bortoli's Noble One is as good as ever in 2...
...                                                                       ...
Uruguay   Juanico           This mature Bordeaux-style blend is earthy on ...
          Montevideo        A rich, heady bouquet offers aromas of blackbe...
          Progreso          Rusty in color but deep and complex in nature,...
          San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                                        designation  points  \
country   province
Argentina Mendoza Province                         Nicasia Vineyard      97
          Other                                             Reserva      95
Armenia   Armenia                                    Estate Bottled      88
Australia Australia Other                             Sarah's Blend      93
          New South Wales                        Noble One Bortytis      94
...                                                             ...     ...
Uruguay   Juanico                  Preludio Barrel Select Lote N 77      90
          Montevideo        Monte Vide Eu Tannat-Merlot-Tempranillo      91
          Progreso                   Etxe Oneko Fortified Sweet Red      90
          San Jose                         El Preciado Gran Reserva      87
          Uruguay                         Blend 002 Limited Edition      91

                            price          province                 region_1  \
country   province
Argentina Mendoza Province  120.0  Mendoza Province                  Mendoza
          Other              90.0             Other                    Salta
Armenia   Armenia            15.0           Armenia                      NaN
Australia Australia Other    15.0   Australia Other  South Eastern Australia
          New South Wales    32.0   New South Wales          New South Wales
...                           ...               ...                      ...
Uruguay   Juanico            45.0           Juanico                      NaN
          Montevideo         60.0        Montevideo                      NaN
          Progreso           46.0          Progreso                      NaN
          San Jose           50.0          San Jose                      NaN
          Uruguay            22.0           Uruguay                      NaN

                           region_2        taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province      NaN  Michael Schachner           @wineschach
          Other                 NaN  Michael Schachner           @wineschach
Armenia   Armenia               NaN      Mike DeSimone        @worldwineguys
Australia Australia Other       NaN                NaN                   NaN
          New South Wales       NaN     Joe Czerwinski                @JoeCz
...                             ...                ...                   ...
Uruguay   Juanico               NaN  Michael Schachner           @wineschach
          Montevideo            NaN  Michael Schachner           @wineschach
          Progreso              NaN  Michael Schachner           @wineschach
          San Jose              NaN  Michael Schachner           @wineschach
          Uruguay               NaN  Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other                            Colomé 2010 Reserva Malbec (Salta)
Armenia   Armenia                 Van Ardi 2015 Estate Bottled Rosé (Armenia)
Australia Australia Other   Marquis Philips 2000 Sarah's Blend Red (South ...
          New South Wales   De Bortoli 2007 Noble One Bortytis Semillon (N...
...                                                                       ...
Uruguay   Juanico           Familia Deicas 2004 Preludio Barrel Select Lot...
          Montevideo        Bouza 2015 Monte Vide Eu Tannat-Merlot-Tempran...
          Progreso          Pisano 2007 Etxe Oneko Fortified Sweet Red Tan...
          San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                          variety                winery
country   province
Argentina Mendoza Province                 Malbec  Bodega Catena Zapata
          Other                            Malbec                Colomé
Armenia   Armenia                            Rosé              Van Ardi
Australia Australia Other               Red Blend       Marquis Philips
          New South Wales                Sémillon            De Bortoli
...                                           ...                   ...
Uruguay   Juanico                       Red Blend        Familia Deicas
          Montevideo                    Red Blend                 Bouza
          Progreso                         Tannat                Pisano
          San Jose                      Red Blend        Castillo Viejo
          Uruguay           Tannat-Cabernet Franc               Narbona

[425 rows x 13 columns]

In [41]:
# Bir baska onemli metod agg() metodudur. 
# Bu metod DataFrame uzerinde eyni anda birden cox ferqli emeliyyat etmeye imkan verir.
# Meselen datasetin besit bir statistik ozetini asagidaki sekilde qura bilerik.

df.groupby(['country']).price.agg([len, min, max])

C:\Users\qubadlim\AppData\Local\Temp\ipykernel_3592\1694692867.py:5: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby(['country']).price.agg([len, min, max])
C:\Users\qubadlim\AppData\Local\Temp\ipykernel_3592\1694692867.py:5: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby(['country']).price.agg([len, min, max])

                          len   min     max
country
Argentina                3800   4.0   230.0
Armenia                     2  14.0    15.0
Australia                2329   5.0   850.0
Austria                  3345   7.0  1100.0
Bosnia and Herzegovina      2  12.0    13.0
Brazil                     52  10.0    60.0
Bulgaria                  141   8.0   100.0
Canada                    257  12.0   120.0
Chile                    4472   5.0   400.0
China                       1  18.0    18.0
Croatia                    73  12.0    65.0
Cyprus                     11  11.0    21.0
Czech Republic             12  15.0    45.0
Egypt                       1   NaN     NaN
England                    74  25.0    95.0
France                  22093   5.0  3300.0
Georgia                    86   9.0    40.0
Germany                  2165   5.0   775.0
Greece                    466   8.0    79.0
Hungary                   146  10.0   764.0
India                       9  10.0    20.0
Israel                    505   8.0   150.0
Italy                   19540   5.0   900.0
Lebanon                    35  13.0    75.0
Luxembourg                  6  16.0    30.0
Macedonia                  12  15.0    20.0
Mexico                     70   8.0   108.0
Moldova                    59   8.0    42.0
Morocco                    28  14.0    40.0
New Zealand              1419   7.0   130.0
Peru                       16  10.0    68.0
Portugal                 5691   5.0  1000.0
Romania                   120   4.0   320.0
Serbia                     12  15.0    42.0
Slovakia                    1  16.0    16.0
Slovenia                   87   7.0    90.0
South Africa             1401   5.0   330.0
Spain                    6645   4.0   770.0
Switzerland                 7  21.0   160.0
Turkey                     90  14.0   120.0
US                      54504   4.0  2013.0
Ukraine                    14   6.0    13.0
Uruguay                   109  10.0   130.0

In [43]:
countries_reviewed = df.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
Armenia   Armenia              2
Australia Australia Other    245
          New South Wales     85
...                          ...
Uruguay   Juanico             12
          Montevideo          11
          Progreso            11
          San Jose             3
          Uruguay             24

[425 rows x 1 columns]

In [44]:
mi = countries_reviewed.index
type(mi)

pandas.core.indexes.multi.MultiIndex

In [45]:
countries_reviewed.reset_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
2      Armenia           Armenia     2
3    Australia   Australia Other   245
4    Australia   New South Wales    85
..         ...               ...   ...
420    Uruguay           Juanico    12
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

In [46]:
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

          country               province    len
179        Greece  Muscat of Kefallonian      1
192        Greece          Sterea Ellada      1
194        Greece                 Thraki      1
354  South Africa             Paardeberg      1
40         Brazil       Serra do Sudeste      1
..            ...                    ...    ...
409            US                 Oregon   5373
227         Italy                Tuscany   5897
118        France               Bordeaux   5941
415            US             Washington   8639
392            US             California  36247

[425 rows x 3 columns]

In [47]:
countries_reviewed.sort_values(by='len', ascending=False)

          country         province    len
392            US       California  36247
415            US       Washington   8639
118        France         Bordeaux   5941
227         Italy          Tuscany   5897
409            US           Oregon   5373
..            ...              ...    ...
101       Croatia              Krk      1
247   New Zealand        Gladstone      1
357  South Africa  Piekenierskloof      1
63          Chile          Coelemu      1
149        Greece           Beotia      1

[425 rows x 3 columns]

In [48]:
countries_reviewed.sort_values(by=['country', 'len'])

       country          province   len
1    Argentina             Other   536
0    Argentina  Mendoza Province  3264
2      Armenia           Armenia     2
6    Australia          Tasmania    42
4    Australia   New South Wales    85
..         ...               ...   ...
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
420    Uruguay           Juanico    12
424    Uruguay           Uruguay    24
419    Uruguay         Canelones    43

[425 rows x 3 columns]

In [49]:
df.groupby('taster_twitter_handle').count()

,country,description,designation,points,price,province,region_1,region_2,taster_name,title,variety,winery
taster_twitter_handle,,,,,,,,,,,,
@AnneInVino,3676,3685,3130,3685,3398,3676,1395,0,3685,3685,3685,3685
@JoeCz,5145,5147,3428,5147,5012,5145,3406,101,5147,5147,5147,5147
@bkfiona,27,27,17,27,27,27,18,0,27,27,27,27
@gordone_cellars,4177,4177,2660,4177,4171,4177,4171,3087,4177,4177,4177,4177
@kerinokeefe,10776,10776,7549,10776,9874,10776,10749,0,10776,10776,10776,10776
@laurbuzz,1832,1835,1268,1835,1713,1832,618,18,1835,1835,1835,1835
@mattkettmann,6332,6332,4568,6332,6237,6332,6331,6284,6332,6332,6332,6332
@paulgwine,9531,9532,6482,9532,9498,9531,9487,8923,9532,9532,9532,9532
@suskostrzewa,1080,1085,682,1085,1073,1080,243,159,1085,1085,1085,1085
@vboone,9537,9537,6764,9537,9507,9537,9532,9022,9537,9537,9537,9537
@vossroger,25512,25514,17963,25514,20172,25512,18635,2,25514,25514,25514,25514
@wawinereport,4966,4966,3550,4966,4925,4966,4791,4743,4966,4966,4966,4966
@wineschach,15127,15134,12275,15134,14951,15127,10477,69,15134,15134,15134,15134
@winewchristina,6,6,2,6,6,6,6,5,6,6,6,6
@worldwineguys,971,1005,780,1005,995,971,0,0,1005,1005,1005,1005

In [56]:
df.groupby(['price']).points.max().sort_index(ascending=False)

price
3300.0    88
2500.0    96
2013.0    91
2000.0    97
1900.0    98
          ..
8.0       91
7.0       91
6.0       88
5.0       87
4.0       86
Name: points, Length: 390, dtype: int64

In [23]:
df.groupby('variety').price.agg([min, max]).sort_values(by=['min', 'max'], ascending=False)

C:\Users\qubadlim\AppData\Local\Temp\ipykernel_13612\53046806.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby('variety').price.agg([min, max]).sort_values(by=['min', 'max'], ascending=False)
C:\Users\qubadlim\AppData\Local\Temp\ipykernel_13612\53046806.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby('variety').price.agg([min, max]).sort_values(by=['min', 'max'], ascending=False)

                                  min    max
variety
Ramisco                         495.0  495.0
Terrantez                       236.0  236.0
Francisa                        160.0  160.0
Rosenmuskateller                150.0  150.0
Tinta Negra Mole                112.0  112.0
...                               ...    ...
Roscetto                          NaN    NaN
Sauvignon Blanc-Sauvignon Gris    NaN    NaN
Tempranillo-Malbec                NaN    NaN
Vital                             NaN    NaN
Zelen                             NaN    NaN

[707 rows x 2 columns]

In [80]:
df.groupby('taster_name').points.mean()

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64

In [85]:
df.groupby(['country', 'variety']).size().sort_values(ascending=False)

country  variety
US       Pinot Noir                  9885
         Cabernet Sauvignon          7315
         Chardonnay                  6801
France   Bordeaux-style Red Blend    4725
Italy    Red Blend                   3624
                                     ...
Mexico   Cinsault                       1
         Grenache                       1
         Merlot                         1
         Rosado                         1
Uruguay  White Blend                    1
Length: 1612, dtype: int64

In [3]:
# DataFrame de ve ya Series de data tipi 'dtype' olarak bilinir. 
# dtype xususiyyetini istifade ederek mueyyen bir sutunun tipini oyrene bilerik.
# Meselen asagidaki ifadede price sutunun tipini aliriq

df.price.dtype

dtype('float64')

In [4]:
# Bundan elvae butun sutunlarin tipini qaytaran 'dtypes' adlanan metodda movcuddur.

df.dtypes

country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
dtype: object

In [5]:
# Burada diqqet edilmeli bir meqan odur ki setrir tipinden melumatlari saxlayan sutunlar 'object' tipinde olur.
# Bunadan elve sutunlarin tiplerini deyisdirmekde mumkundur bunun ucun 'astype()' metodu istifade olunur.

df.points.astype('float64')

0         87.0
1         87.0
2         87.0
3         87.0
4         87.0
          ...
129966    90.0
129967    90.0
129968    90.0
129969    90.0
129970    90.0
Name: points, Length: 129971, dtype: float64

In [6]:
# DataFrame ve ya Seriesin indexininde oz tipi var.

df.index.dtype

dtype('int64')

In [ ]:
# Bunadan elave Pandas da diger maraqli data tipleride var meselen: 'categorical' ve 'timeseries'.

In [7]:
# Sutunlardaki bos sahelere 'NaN' deyeri menimsedilir hansiki 'Not a Number' demekdir.
# Texniki sebelerden bu NaN deyerler hemise float64 tipinde olurlar.
# Pandas bu NaN deyerleri tapmaq ucun bir nece metoda sahibdir. 
# Meselen NaN deyerleri tapmaq ucun 'isnull()' ve ya tam tersi NaN olamayan deyerleri tapmaq ucun 'pd.notnull()'

df[pd.isnull(df.country)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
913,NaN,"Amber in color, this wine has aromas of peach ...",Asureti Valley,87,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Gotsa Family Wines 2014 Asureti Valley Chinuri,Chinuri,Gotsa Family Wines
3131,NaN,"Soft, fruity and juicy, this is a pleasant, si...",Partager,83,NaN,NaN,NaN,NaN,Roger Voss,@vossroger,Barton & Guestier NV Partager Red,Red Blend,Barton & Guestier
4243,NaN,"Violet-red in color, this semisweet wine has a...",Red Naturally Semi-Sweet,88,18.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Kakhetia Traditional Winemaking 2012 Red Natur...,Ojaleshi,Kakhetia Traditional Winemaking
9509,NaN,This mouthwatering blend starts with a nose of...,Theopetra Malagouzia-Assyrtiko,92,28.0,NaN,NaN,NaN,Susan Kostrzewa,@suskostrzewa,Tsililis 2015 Theopetra Malagouzia-Assyrtiko W...,White Blend,Tsililis
9750,NaN,This orange-style wine has a cloudy yellow-gol...,Orange Nikolaevo Vineyard,89,28.0,NaN,NaN,NaN,Jeff Jenssen,@worldwineguys,Ross-idi 2015 Orange Nikolaevo Vineyard Chardo...,Chardonnay,Ross-idi
...,...,...,...,...,...,...,...,...,...,...,...,...,...
124176,NaN,This Swiss red blend is composed of four varie...,Les Romaines,90,30.0,NaN,NaN,NaN,Jeff Jenssen,@worldwineguys,Les Frères Dutruy 2014 Les Romaines Red,Red Blend,Les Frères Dutruy
129407,NaN,Dry spicy aromas of dusty plum and tomato add ...,Reserve,89,22.0,NaN,NaN,NaN,Michael Schachner,@wineschach,El Capricho 2015 Reserve Cabernet Sauvignon,Cabernet Sauvignon,El Capricho
129408,NaN,El Capricho is one of Uruguay's more consisten...,Reserve,89,22.0,NaN,NaN,NaN,Michael Schachner,@wineschach,El Capricho 2015 Reserve Tempranillo,Tempranillo,El Capricho
129590,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Büyülübağ 2012 Shah Red,Red Blend,Büyülübağ
129900,NaN,This wine offers a delightful bouquet of black...,NaN,91,32.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Psagot 2014 Merlot,Merlot,Psagot

In [8]:
# NaN deyerleri deyisdirmek cox istifade olunan metoddur. 
# Pandas bu problemi hell etmek ucun elverisli metoda malikdir: fillna()
# fillna() bele deyerleri azaltmaq ucun ferqli strategiyalara malikdir.
# Meselen biz asanliqla NaN deyerleri 'unknown' ile asagidaki sekilde deyisdire bilerik.

df.region_2.fillna('Unknown')

0                   Unknown
1                   Unknown
2         Willamette Valley
3                   Unknown
4         Willamette Valley
                ...
129966              Unknown
129967         Oregon Other
129968              Unknown
129969              Unknown
129970              Unknown
Name: region_2, Length: 129971, dtype: object

In [9]:
# Ve ya biz NaN deyerleri NaN olmayan ilk deyerlede evez ede bilerik. Bu 'backfill' geridoldurma strategiyasi adlanir.
# Elave olaraq biz null olmayan sepesifik bir deyerlede deyismek isteye bilerik. Meselcun dataset yayimlanandan beri reycilerden Kerin O'Keefe oz twitter hesabini @kerinokeefe den @kerino a deyisdirmisdir.
# Bu problemi hell etmek ucun replace() metodunu istifade ede bilerik

df.taster_twitter_handle.replace('@kerinokeefe', '@kerino')

0             @kerino
1          @vossroger
2         @paulgwine
3                 NaN
4         @paulgwine
             ...
129966            NaN
129967    @paulgwine
129968     @vossroger
129969     @vossroger
129970     @vossroger
Name: taster_twitter_handle, Length: 129971, dtype: object